<!doctype html>
<html lang="pl" mode="">
<head>
    {% include './common/head.html.twig' %}
    <link rel="stylesheet" href="{{ asset('styles/login.min.css') }}">
</head>
<body>
{% if error %}
    <section name="alert" class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</section>
{% endif %}
{% if app.user %}
    <section name="user-info" class="">
        Jesteś zalogowany jako {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Wyloguj się</a>
    </section>
{% endif %}

<section class="login-form">
    <section name="header-container" class="header-container my-2">
        <h1 class="h1">Zaloguj się</h1>
    </section>
    <form method="post" name="login-form" class="form-container">
        <label class="my-1" for="username">Email</label>
        <input class="my-1 form-control" type="email" value="{{ last_username }}" name="_username" id="username"
               autocomplete="email" required autofocus>
        <label class="my-1" for="password">Password</label>
        <input type="password" name="_password" id="password" class="my-1 form-control" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <button class="btn my-1" type="submit">
            Zaloguj się
        </button>
    </form>
</section>
</body>
</html>
